{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">About Us</div>
</div>

<div class="container">
  <div class="sec-container column-flex">
    <div class="flex gap full">
      <div class="small-container flex-just-start">
        <div class="head-big">ABOUT US</div>
      </div>
    </div>
    <div class="small-container">
      <p>
        Sree Narayana College , Vatakara was established by the SNDP Union
        Development and Welfare Society,Vatakara in memory and to pay obeisance
        to the great social reformer, Sree Narayana Gurudevan. The college
        started functioning on 08th August, 2003 in a rented building at
        Narayana Nagar, Vatakara. The college was shifted to S.N. Hills, Keezhal
        on 28th February 2011.
      </p>
      <p>
        The college campus is refreshingly green and scenically beautiful with
        thick foliage. It offers course in Arts, Science, Commerce & Management
        disciplines at undergraduate and Post graduate levels. The college has
        completed eighteen years of its glorious service. It is today one of the
        biggest post graduate self-financing colleges under the University of
        Calicut.
      </p>
      <p>
        As part of the choice Based Credit and Semester System at the graduate
        level, elective courses, complementary courses and skill based courses
        are offered to develop their potentialities in various faculties. The
        college bring together should academic achievement with extensive and
        vibrant co-curricular programs that includes fine arts, sports and
        leadership training programs.
      </p>
      <p>
        The institution strives to fulfill the mission of Gurudevan to provide
        educational opportunities to all aspiring youth to excel in life by
        developing academic excellence, fostering values, creating civic
        enlightenment through education and endeavors to build a humane,
        intellectually accomplished, morally awakened and socially committed
        fraternity of young men and women. The college continuously strives to
        internalize and institutionalize excellence by improving the quality of
        its services and upgrading the infrastructural facilities. The college
        ensures the holistic development of its students, thereby making them
        intellectually, socially, physically and spiritually balanced human
        beings. Ragging is totally banned inside the campus and it is not
        entertained even for fun.
      </p>
      <p>
        The college has a team of highly experienced and dedicated faculty
        comprising of more than twenty eminent Professors. Our students have
        secured commendable academic achievements over the years. Our aim is to
        inculcate the love of knowledge in our students
      </p>
    </div>

    <div class="flex gap full">
      <div class="small-container flex-just-start">
        <div class="head-big">HIGHLIGHTS</div>
      </div>
    </div>
    <div class="small-container">
      <ul>
        <li>Highly qualified, dedicated and experienced faculty</li>
        <li>Well equipped laboratories</li>
        <li>Computer Lab with advanced computing systems and networking</li>
        <li>Well stocked Library/ English language Laboratory</li>
        <li>Training and placement cell</li>
        <li>soft skill development facility</li>
        <li>Industry visits</li>
        <li>Womens cell</li>
        <li>NSS</li>
        <li>Health Club</li>
        <li>Bhoomithra sena Club</li>
        <li>Legal literacy programme</li>
        <li>Alumini association</li>
        <li>Periodical test and model examinations</li>
        <li>College Union</li>
        <li>Film Club</li>
        <li>UGC Grievance Cell</li>
        <li>Tutorial System</li>
        <li>PTA</li>
        <li>College bus service</li>
        <li>Canteen</li>
        <li>Ragging free campus</li>
        <li>Committed and development oriented management</li>
        <li>Verdant Campus</li>
        <li>
          One of our student was selected as best NSS Volonteer under Calicut
          University
        </li>
        <li>Newly completed building for English department & Library</li>
      </ul>
    </div>

    <div class="flex gap full">
      <div class="small-container flex-just-start">
        <div class="head-big">ADMISSION 2023-2024</div>
      </div>
    </div>
    <div class="small-container">
      <p>
        50% of total seats in UG and PG will be filled up by the Calicut
        University through CAP (Centralised Admission Process) and 50% seatsof
        Management Quota by the College Management. Students seeking admission
        in Management Quota also should register in CAP. Registration for
        Management Quota seats has already started. Application forms are
        available from the SNDP Union Office. Vatakara. SC/ ST/ OBC/ OEC/ EWS
        Reservation as per ruels will be given.
      </p>
    </div>

    <div class="flex gap full">
      <div class="small-container flex-just-start">
        <div class="head-big">OUR RESULTS</div>
      </div>
    </div>
    <div class="small-container">
      <p>
        We have been producing very good result through out these years The
        college has producing more than 90% in all PG Programs for the last few
        years. The college bagged many ranks in university examinationsof M.Sc
        Physics and M.Sc Clinical Psychology.
      </p>
    </div>
  </div>
</div>

{% endblock %}
