{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">Upcoming Events</div>
</div>
<div class="container pad-top pad-bottom flex-align-start">
  <div class="part pad-right out">
    <div class="part">
      <div class="event-group ev">
        {% for event in events %}
        <a href="{% url 'events' event.id %}" class="event-box">
          <div class="date line">
            <div class="day">{{event.date.day}}</div>
            <div class="month">{{ event.date|date:"M" }}</div>
            <div class="year">{{event.date.year}}</div>
          </div>
          <div class="info">
            <div class="headingSmall">{{ event.title }}</div>
            <div class="otherinfo">
              <div>{{ event.time }}</div>
              <div>{{ event.venue }}</div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
