{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">National Service Scheme</div>
</div>

<div class="container">
  <div class="sec-container grid">
    {% for event in events %}
    <a href="{% url 'events' event.id %}" class="event-box">
      <div class="date line">
        <div class="day">{{event.date.day}}</div>
        <div class="month">{{ event.date|date:"M" }}</div>
        <div class="year">{{event.date.year}}</div>
      </div>
      <div class="info">
        <div class="headingSmall">{{ event.title }}</div>
        <div class="otherinfo">
          <div>{{ event.time }}</div>
          <div>{{ event.venue }}</div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>

  {% endblock %}
</div>
