{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">National Service Scheme</div>
</div>

<div class="container">
  <div class="sec-container grid">
    <a href="#" class="news-box">
      <div class="imgcon">
        <img src="assets/img.jpg" alt="" class="news-img" />
      </div>
      <div class="text">New technologies can enhance qulitative research</div>
      <div class="date-box">Sat, 19 Aug 2023</div>
    </a>
    <a href="#" class="news-box">
      <div class="imgcon">
        <img src="assets/imgnss.jpg" alt="" class="news-img" />
      </div>
      <div class="text">
        New technologies can enhance qulitative research lksdjlksajflk
        asfjaslkfjaslkfj aslk faks jflkadsdjflksajflkasjflkasj flksa jflks jlfk
        jslkf jslk jflk jflk lk dflks jlkj salkfj aslk fjsal jflksa flkaj
        slkfjasl f sfj asljfsalkaj ksj flksj flksa fls jfsalkj
      </div>
      <div class="date-box">Sat, 19 Aug 2023</div>
    </a>
    <a href="#" class="news-box">
      <div class="imgcon">
        <img src="assets/img.jpg" alt="" class="news-img" />
      </div>
      <div class="text">New technologies can enhance qulitative research</div>
      <div class="date-box">Sat, 19 Aug 2023</div>
    </a>
    <a href="#" class="news-box">
      <div class="imgcon">
        <img src="assets/img.jpg" alt="" class="news-img" />
      </div>
      <div class="text">New technologies can enhance qulitative research</div>
      <div class="date-box">Sat, 19 Aug 2023</div>
    </a>
    <a href="#" class="news-box">
      <div class="imgcon">
        <img src="assets/img.jpg" alt="" class="news-img" />
      </div>
      <div class="text">New technologies can enhance qulitative research</div>
      <div class="date-box">Sat, 19 Aug 2023</div>
    </a>
    <a href="#" class="news-box">
      <div class="imgcon">
        <img src="assets/img.jpg" alt="" class="news-img" />
      </div>
      <div class="text">New technologies can enhance qulitative research</div>
      <div class="date-box">Sat, 19 Aug 2023</div>
    </a>
    <a href="#" class="news-box">
      <div class="imgcon">
        <img src="assets/img.jpg" alt="" class="news-img" />
      </div>
      <div class="text">New technologies can enhance qulitative research</div>
      <div class="date-box">Sat, 19 Aug 2023</div>
    </a>
    <a href="#" class="news-box">
      <div class="imgcon">
        <img src="assets/img.jpg" alt="" class="news-img" />
      </div>
      <div class="text">New technologies can enhance qulitative research</div>
      <div class="date-box">Sat, 19 Aug 2023</div>
    </a>
  </div>
</div>

{% endblock %}
