{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">News & Updates</div>
</div>
<div class="container pad-top pad-bottom flex-align-start">
  <div class="part">
    <div class="event-group ev">
      {% for article in newses %}
      <a href="{% url 'news' article.id %}" class="news-box">
        <div class="text">{{ article.title }}</div>
        <div class="date-box">
          {{ article.date|date:"D" }}, {{ article.date }}
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
