{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">Application Forms</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BA History</div>
      </div>
      <button class="btn outline">
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> Form
      </button>
    </div>

    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.A.Functional English</div>
      </div>
      <button class="btn outline">
        <img src="{% static 'assets/download_black.svg' %}" alt="" />Form
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.B.A</div>
      </div>
      <button class="btn outline">
        <img src="{% static 'assets/download_black.svg' %}" alt="" />Form
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.Sc. Chemistry</div>
      </div>
      <button class="btn outline">
        <img src="{% static 'assets/download_black.svg' %}" alt="" />Form
      </button>
    </div>

    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">M.Com Finance</div>
      </div>
      <button class="btn outline">
        <img src="{% static 'assets/download_black.svg' %}" alt="" />Form
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">M.A.English</div>
      </div>
      <button class="btn outline">
        <img src="{% static 'assets/download_black.svg' %}" alt="" />Form
      </button>
    </div>
  </div>
</div>

{% endblock %}
