{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">Application Forms</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">LEAVE FORM:</div>
      </div>
      <a
        href="{% static 'assets/form/LEAVE_FORM.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> Form
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">TC:</div>
      </div>
      <a href="{% static 'assets/form/TC.pdf'%}" class="btn outline" download>
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> Form
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">PM:</div>
      </div>
      <a href="{% static 'assets/form/PM.pdf'%}" class="btn outline" download>
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> Form
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">ATTENDANCE:</div>
      </div>
      <a
        href="{% static 'assets/form/ATTENDANCE.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> Form
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">CD:</div>
      </div>
      <a href="{% static 'assets/form/CD.pdf'%}" class="btn outline" download>
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> Form
      </a>
    </div>
  </div>
</div>

{% endblock %}
