{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">Application Forms</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">Admission Application Form:</div>
      </div>
      <a
        href="{% static 'assets/download_black.svg'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> Form
      </a>
    </div>

    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">Financial Aid Application Form</div>
      </div>
      <a
        href="{% static 'assets/download_black.svg'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />Form
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">Course Registration Form</div>
      </div>
      <a
        href="{% static 'assets/download_black.svg'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />Form
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">Transcript Request Formy</div>
      </div>
      <a
        href="{% static 'assets/download_black.svg'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />Form
      </a>
    </div>

    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">Degree Audit Form</div>
      </div>
      <a
        href="{% static 'assets/download_black.svg'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />Form
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">Library Card Application Form</div>
      </div>
      <a
        href="{% static 'assets/download_black.svg'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />Form
      </a>
    </div>
  </div>
</div>

{% endblock %}
