{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">Courses and syllabus</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BA History</div>
      </div>
      <button class="btn outline">
        <img src="{% static 'assets/download_black.svg'%}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Mathamatics</div>
      </div>
      <button class="btn outline">
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Computer Science</div>
      </div>
      <button class="btn outline">
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Physics</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Chemistry</div>
      </div>
      <button class="btn outline">
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
  </div>
</div>

{% endblock %}
