{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">Courses and syllabus</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.A.Functional English</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BA ENGLISH 2019.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.B.A</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BBA 2019.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.Sc. Chemistry</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSC CHEMISTRY 2019.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.Sc. Physics</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSC PHYSICS 2020.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.Sc. Computer Science</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSC COMPUTER SCIENCE 2019.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.Sc .Psychology</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSC PSYCHOLOGY 2019.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.Sc. Statistics</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSC STATISTICS 2019.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.Sc. Mathematics</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSC MATHEMATICS 2019.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.Sc.Botany</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSC BOTANY 2019.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.Sc.Zoology</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSC ZOOLOGY.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.C.A</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BCA 2019.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.Com. With Computer Application</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BCOM 2019.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.Com Finance</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BCOM 2019.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.Com Co-operation</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BCOM 2019.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>

    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">M.Sc. Physics</div>
      </div>
      <a
        href="{% static 'assets/syllabus/MSC PHYSICS 2020.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">M.Sc. Clinical Psychology</div>
      </div>
      <a
        href="{% static 'assets/syllabus/MSC CLINICAL PSYCHOLOGY 2019.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">M.Sc. Chemistry</div>
      </div>
      <a
        href="{% static 'assets/syllabus/MSC CHEMISTRY 2019.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">M.Com Finance</div>
      </div>
      <a
        href="{% static 'assets/syllabus/MCOM 2019.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">M.A.English</div>
      </div>
      <a
        href="{% static 'assets/syllabus/MA ENGLISH 2019.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
  </div>
</div>

{% endblock %}
