{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">Courses and syllabus</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BA History</div>
      </div>
      <button class="btn outline">
        <img src="{% static 'assets/download_black.svg'%}" alt="" />syllabus
      </button>
    </div>

   
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">	B.A.Functional English</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">	B.B.A</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">	B.Sc. Chemistry</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.Sc. Physics	</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.Sc. Computer Science	</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">	B.Sc .Psychology</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">	B.Sc. Statistics</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">		B.Sc. Mathematics</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">B.Sc.Botany	</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">	B.Sc.Zoology	</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">	B.C.A</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">	B.Com. With Computer Application</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">	B.Com Finance	</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">		B.Com Co-operation</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
   
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">	M.Sc. Physics</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">	M.Sc. Clinical Psychology</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">		M.Sc. Chemistry</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">M.Com Finance	</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">	M.A.English</div>
      </div>
      <button class="btn outline">
        <img src="assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
    
      <button class="btn outline">
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </button>
    </div>
  </div>
</div>

{% endblock %}
