{% extends "admin_header.html" %} {% block content %} {% load static %}
<h2>Employee List</h2>
<a class="btn-add" href="{% url 'create_employee' %}">New </a>

<table class="employee-table">
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>department</th>
    <th>Photo</th>
    <th>Qualification</th>
    <th>Actions</th>
  </tr>
  {% for employee in employees %}
  <tr>
    <td>{{ employee.name }}</td>
    <td>{{ employee.position }}</td>
    <td>{{ employee.department }}</td>
    <td>
      <img
        src="{{ employee.photo.url }}"
        alt="{{ employee.name }} Photo"
        class="employee-photo"
      />
    </td>
    <td>{{ employee.qualification }}</td>
    <td>
      <a class="btn-edit" href="{% url 'update_employee' employee.id %}"
        >Edit</a
      >
      <a class="btn-delete" href="{% url 'delete_employee' employee.id %}"
        >Delete</a
      >
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="5">No employees available.</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
