{% extends "admin_header.html" %} {% block content %} {% load static %}
<div class="admin-container">
  <div class="admin-title">
    <h2>Faculty List</h2>
    <a class="btn-add btn" href="{% url 'create_employee' %}"
      ><img src="{% static 'assets/new.svg' %}" class="img-small" alt="" />New
    </a>
  </div>
  <div class="table-con">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>department</th>
          <th>Photo</th>
          <th>Qualification</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
        <tr>
          <td>{{ employee.name }}</td>
          <td>{{ employee.position }}</td>
          <td>{{ employee.department }}</td>
          <td>
            <img
              src="{{ employee.photo.url }}"
              alt="{{ employee.name }} Photo"
              class="photo-list"
            />
          </td>
          <td>{{ employee.qualification }}</td>
          <td>
            <a
              class="btn-edit btn"
              href="{% url 'update_employee' employee.id %}"
              >Edit</a
            >
            <a
              class="btn-delete btn"
              href="{% url 'delete_employee' employee.id %}"
              >Delete</a
            >
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No employees available.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endblock %}
  </div>
</div>
