{% extends "admin_header.html" %} {% block content %} {% load static %}
<h2>Event List</h2>
<a class="btn-add" href="{% url 'event_create' %}">New </a>
<table class="employee-table">
  <tr>
    <th>Title</th>
    <th>Time</th>
    <th>Date</th>
    <th>Venue</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  {% for event in events %}
  <tr>
    <td>{{ event.title }}</td>
    <td>{{ event.time }}</td>
    <td>{{ event.date }}</td>
    <td>{{ event.venue }}</td>
    <td>{{ event.description }}</td>
    <td>
      <a class="btn-edit" href="{% url 'event_update' event.id %}">Edit</a>
      <a class="btn-delete" href="{% url 'event_delete' event.id %}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
