{% extends "admin_header.html" %} {% block content %} {% load static %}
<body class="edit-body">
  <div class="edit-formcon">
    <h2>Event Form</h2>
    <form id="employeeForm" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="title">Title:</label>
      <input class="inp" type="text" id="title" name="title" required />

      <label for="time">Time:</label>
      <input class="inp" type="time" id="time" name="time" required />

      <label for="date">Date:</label>
      <input type="date" id="date" name="date" required />

      <label for="description">Description:</label>
      <textarea
        id="description"
        name="description"
        rows="4"
        required
        class="inp tarea"
      ></textarea>

      <label for="venue">Venue:</label>
      <input class="inp" type="text" id="venue" name="venue" required />

      <label for="url">URL:</label>
      <input
        class="inp"
        type="url"
        id="url"
        name="url"
        placeholder="Registration Link"
      />
      <br /><br />
      <button type="Submit" value="Submit">Submit</button>
    </form>
    <a href="{% url 'event_list' %}" class="btn-edit btn">Back to List</a>
  </div>
  {% endblock %}
</body>
