{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">Depatment of History</div>
</div>

<div class="container">
  <div class="sec-container">
    {% for employee in employees %}
    <div class="small-container flex-just-start list1">
      <img
        class="img-pot"
        src="{{ employee.photo.url }}"
        alt="{{ employee.name }} "
      />
      <div class="flex-just-c-sb height">
        <div class="flex-just-c-sb">
          <div class="bold-head">{{ employee.position }}</div>
          <div>{{ employee.name }}</div>
        </div>
        <div class="flex-just-c-sb">
          <div>{{ employee.qualification }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="small-container flex-just-start list1">
      <img class="img-pot" src="assets/img1.png" alt="" />
      <div class="flex-just-c-sb height">
        <div class="flex-just-c-sb">
          <div class="bold-head">Assistant Professor</div>
          <div>Sri. Abdul Majeed.T.H</div>
        </div>
        <div class="flex-just-c-sb">
          <div>M.Sc, Ph.D, NET</div>
          <div>
            Former Head, Department of Zoology, Sree Narayana College. Kannur.
          </div>
          <div>
            Former Course DirectorDepartment of Molecular Biology, Kannur
            University.
          </div>
          <div>
            Former Co-ordinator, IGNOU Study Centre, Sree Narayana College,
            Kannur.
          </div>
          <div>Teaching experience : 26 years</div>
        </div>
      </div>
    </div>
    <div class="small-container flex-just-start list1">
      <img class="img-pot" src="assets/img1.png" alt="" />
      <div class="flex-just-c-sb height">
        <div class="flex-just-c-sb">
          <div class="bold-head">Assistant Professor</div>
          <div>Sri. Abdul Majeed.T.H</div>
        </div>
        <div class="flex-just-c-sb">
          <div>M.Sc, Ph.D, NET</div>
          <div>
            Former Head, Department of Zoology, Sree Narayana College. Kannur.
          </div>
          <div>
            Former Course DirectorDepartment of Molecular Biology, Kannur
            University.
          </div>
          <div>
            Former Co-ordinator, IGNOU Study Centre, Sree Narayana College,
            Kannur.
          </div>
          <div>Teaching experience : 26 years</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
