{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">DEPARTMENT OF {{ depart }}</div>
</div>

<div class="container">
  <div class="sec-container">
    {% for employee in employees %}
    <div class="small-container flex-just-start list1">
      <img
        class="img-pot"
        src="{{ employee.photo.url }}"
        alt="{{ employee.name }} "
      />
      <div class="flex-just-c-sb height">
        <div class="flex-just-c-sb">
          <div class="bold-head">{{ employee.position }}</div>
          <div>{{ employee.name }}</div>
        </div>
        <div class="flex-just-c-sb">
          {% comment %}
          <div>{{ employee.qualification}}</div>
          {% endcomment %}
          <div>
            Education: Ph.D. in [Academic Discipline] from [University Name]
            M.A. in [Related Field] from [University Name] B.A. in [Academic
            Discipline] from [University Name] Teaching Experience: Associate
            Professor at [University Name], teaching [Course Names] for [Number
            of Years] Exceptional ability to simplify complex concepts for
            student comprehension Dedicated mentor to undergraduate and graduate
            students in [Academic Department] Published [Number of] articles in
            reputable journals Professional Achievements: Recipient of the [Name
            of Prestigious Award] for her contributions to [Specific Academic
            Field] Invited as a panelist at [Name of High-Profile Conference] on
            [Relevant Topic] Collaborated with [Notable Research Group] on
            groundbreaking [Research Project] Active member of [Academic
            Associations/Professional Societies] Research Interests: Dr. Davis'
            research focuses on [Research Interests], with an emphasis on
            [Specific Research Area] Published extensively in [Top-tier
            Journals] and contributed chapters to [Well-Regarded Books] in
            [Research Topics] Skills and Expertise: Proficient in [Specialized
            Research Tools or Software] for [Research Area] Recognized for
            creating an inclusive and engaging classroom environment Innovative
            in utilizing technology for effective teaching Dr. Susan Davis'
            extensive qualifications and passion for teaching make her a valued
            asset to [University Name], contributing to the institution's
            academic reputation and fostering a stimulating learning
            environment.
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
