{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">COLLEGE FITNESS PROGRAMME</div>
</div>

<div class="container">
  <div class="sec-container column-flex">
    <div class="flex gap full flex-c">
      <div class="small-container flex-just-start phcon">
        <div class="photoCon">
          <img
            src="{% static 'assets/fitphoto.jpg'%}"
            class="img-club"
            alt=""
          />
        </div>
      </div>
      <div class="small-container flex-just-start">
        <div class="head">Abdul Majeed T H</div>
        <div class="light">CO-ORDINATOR</div>
      </div>
      <a
        href="tel:+919495057953"
        class="small-container basis flex"
        style="text-decoration: none; color: black"
      >
        <img src="{% static 'assets/phone.svg'%}" class="img-small" alt="" />
        <div class="head center">+91 94950 57953</div>
      </a>
    </div>
    <div class="small-container">
      <article>
        University of Calicut started College Fitness programme during the year
        2018 onwards. First year students are eligible to join the fitness
        programme. Marks are awarded to the students who passed the tests
        conducted by the department of physical education.
      </article>
    </div>
    <div class="small-container imgbox">
      <img src="{% static 'assets/fitness/snfit1.jpg' %}" alt="" />
      <img src="{% static 'assets/fitness/snfit2.jpg' %}" alt="" />
      <img src="{% static 'assets/fitness/snfit3.jpg' %}" alt="" />
    </div>
  </div>
</div>

{% endblock %}
