<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <script src="{% static 'script.js' %}" defer></script>
    <title>Sree Narayana College</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}" />
    <link rel="stylesheet" href="{% static 'mobile.css'%}" />
  </head>

  <body>
    <div class="navcon">
      <navbar class="flex n">
        <img src="{% static 'assets/logo.png' %}" class="logo" alt="" />
        <img
          src="{% static 'assets/bm.svg' %}"
          alt=""
          class="bm"
          onclick="opennav()"
        />
        <div class="l">
          <div class="close" onclick="closenav()">
            <img src="{% static 'assets/close.svg' %}" alt="" />
          </div>
          <div class="group flex">
            <div class="flex">
              <a href="{% url 'index' %}" class="nav">Home</a>
            </div>
          </div>
          <div class="group flex">
            <div class="flex">
              <a href="{% url 'about' %}" class="nav">About Us</a>
            </div>
          </div>
          <div class="group flex">
            <div class="flex" onclick="togglelist(aca,'drop1')">
              <div class="nav">Academics</div>
            </div>
            <div class="dropdown" id="aca">
              <a href="{% url 'courses' %}" class="option">
                <div>Courses and Syllabus</div>
                <img src="{% static 'assets/more.png'%}" alt="" />
              </a>
              <div class="option" onclick="togglelist(fac,'drop2')">
                <div>Faculty</div>
                <img src="{% static 'assets/more.png' %}" alt="" />
                <div class="sec-dropdown" id="fac">
                  <a
                    href="{% url 'faculty' dept='COMMERCE & MANAGEMENT STUDIES' %}"
                    class="option"
                  >
                    <div>DEPARTMENT OF COMMERCE & MANAGEMENT STUDIES</div>
                    <img src="{% static 'assets/more.png'%}" alt="" />
                  </a>
                  <a href="{% url 'faculty' dept='PHYSICS' %}" class="option">
                    <div>DEPARTMENT OF PHYSICS</div>
                    <img src="{% static 'assets/more.png'%}" alt="" />
                  </a>
                  <a
                    href="{% url 'faculty' dept='MATHEMATICS' %}"
                    class="option"
                  >
                    <div>DEPARTMENT OF MATHEMATICS</div>
                    <img src="{% static 'assets/more.png'%}" alt="" />
                  </a>
                  <a href="{% url 'faculty' dept='CHEMISTRY' %}" class="option">
                    <div>DEPARTMENT OF CHEMISTRY</div>
                    <img src="{% static 'assets/more.png'%}" alt="" />
                  </a>
                  <a
                    href="{% url 'faculty' dept='STATISTICS' %}"
                    class="option"
                  >
                    <div>DEPARTMENT OF STATISTICS</div>
                    <img src="{% static 'assets/more.png'%}" alt="" />
                  </a>
                  <a
                    href="{% url 'faculty' dept='COMPUTER SCIENCE' %}"
                    class="option"
                  >
                    <div>DEPARTMENT OF COMPUTER SCIENCE</div>
                    <img src="{% static 'assets/more.png'%}" alt="" />
                  </a>
                  <a href="{% url 'faculty' dept='BOTANY' %}" class="option">
                    <div>DEPARTMENT OF BOTANY</div>
                    <img src="{% static 'assets/more.png'%}" alt="" />
                  </a>
                  <a href="{% url 'faculty' dept='ZOOLOGY' %}" class="option">
                    <div>DEPARTMENT OF ZOOLOGY</div>
                    <img src="{% static 'assets/more.png'%}" alt="" />
                  </a>
                  <a
                    href="{% url 'faculty' dept='PSYCHOLOGY' %}"
                    class="option"
                  >
                    <div>DEPARTMENT OF PSYCHOLOGY</div>
                    <img src="{% static 'assets/more.png'%}" alt="" />
                  </a>
                  <a href="{% url 'faculty' dept='ENGLISH' %}" class="option">
                    <div>DEPARTMENT OF ENGLISH</div>
                    <img src="{% static 'assets/more.png'%}" alt="" />
                  </a>
                  <a
                    href="{% url 'faculty' dept='PHYSICAL EDUCATION' %}"
                    class="option"
                  >
                    <div>DEPARTMENT OF PHYSICAL EDUCATION</div>
                    <img src="{% static 'assets/more.png'%}" alt="" />
                  </a>
                </div>
              </div>

              <!-- #### -->
            </div>
          </div>
          <div class="group flex">
            <div class="flex" onclick="togglelist(club,'drop1')">
              <div class="nav">Clubs & Associations</div>
            </div>
            <div class="dropdown" id="club">
              <a href="{% url 'club' %}" class="option">
                <div>National Service Scheme</div>
                <img src="{% static 'assets/more.png' %}" alt="" />
              </a>
              <a href="{% url 'bhoomi' %}" class="option">
                <div>BHOO MITHRA SENA CLUB</div>
                <img src="{% static 'assets/more.png' %}" alt="" />
              </a>
              <a href="{% url 'fitness' %}" class="option">
                <div>COLLEGE FITNESS PROGRAMME</div>
                <img src="{% static 'assets/more.png' %}" alt="" />
              </a>

              <!-- #### -->
            </div>
          </div>
          <div class="group flex">
            <div class="flex" onclick="togglelist(stcr,'drop1')">
              <div class="nav">Student Corner</div>
              <!-- <img src="{% static 'assets/downarrow.svg" alt=""> -->
            </div>
            <div class="dropdown" id="stcr">
              <a href="{% url 'applicatonforms' %}" class="option">
                <div>Application Forms</div>
                <img src="{% static 'assets/more.png' %}" alt="" />
              </a>
              <a href="{% url 'scholarship' %}" class="option">
                <div>Scholarship Details</div>
                <img src="{% static 'assets/more.png' %}" alt="" />
              </a>
              <a href="{% url 'placement' %}" class="option">
                <div>Placement & Career guidance</div>
                <img src="{% static 'assets/more.png' %}" alt="" />
              </a>
              <a href="{% url 'iqac' %}" class="option">
                <div>IQAC</div>
                <img src="{% static 'assets/more.png' %}" alt="" />
              </a>
              <a href="https://www.leetbox.in/" class="option">
                <div>PYQ Site</div>
                <img src="{% static 'assets/more.png' %}" alt="" />
              </a>
              <!-- #### -->
            </div>
          </div>
          <div class="group flex">
            <div class="flex">
              <a href="{% url 'notification' %}" class="nav">Notifications</a>
            </div>
          </div>
        </div>
      </navbar>
    </div>
    {% block content %}{% endblock %}
    <section class="footer">
      <div class="foothead">
        <img src="{% static 'assets/logo.png' %}" class="logo" alt="" />
      </div>
      <div class="footcon flex">
        <div class="footbox">
          <!-- <div> -->
          <div class="shead">Address</div>
          <div class="data">
            sreenarayana college,<br />
            vatakara,<br />
            kozhikode,<br />
            kerala<br />
          </div>
          <!-- </div> -->
          <div>
            <div class="shead">Quick Links</div>
            <div class="data">
              <a href="">About</a>
              <a href="">Academics</a>
              <a href="">Consultancy</a>
              <a href="">Journals</a>
            </div>
          </div>
        </div>
        <div class="footbox">
          <!-- <div> -->
          <div class="shead">Contact</div>
          <div class="data">
            <span> mail@sncollege.ac.in </span>
            <span> +91 4952440660 </span>
            <span> +91 4952440660 </span>
          </div>
          <!-- </div> -->
        </div>
        <div class="footbox">
          <!-- <div> -->
          <div class="shead">Usefull Links</div>
          <div class="data">
            <a href="">UGC</a>
            <a href="">Calicut University</a>
            <a href="">Kerala PSc</a>
            <a href="">Govt.of kerala</a>
            <a href="">DCE Scholarship</a>
            <a href="">MHRD</a>
            <a href="">NAAC</a>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </section>
    <div class="socials">
      <div class="head">Find us at</div>
      <div class="slinksk flex">
        <a href="" class="link"
          ><img src="{% static 'assets/facebook.png' %}" alt=""
        /></a>
        <a href="" class="link"
          ><img src="{% static 'assets/instagram.png' %}" alt=""
        /></a>
        <a href="" class="link"
          ><img src="{% static 'assets/youtube.png' %}" alt=""
        /></a>
        <a href="" class="link"
          ><img src="{% static 'assets/twitter.png' %}" alt=""
        /></a>
      </div>
    </div>
  </body>
</html>
