{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">IQAC (Internal Quality Assurance Cell)</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr. Aravindan Tharemmal</div>
      <div class="light">Dept of Zoology (Coordinator)</div>
    </div>

    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Prof: M.P Narayanan</div>
      <div class="light">Dept of Physics (Member)</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr. K. Venugopalan</div>
      <div class="light">Dept of Commerce (Member)</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Prof: Abdul Majeed</div>
      <div class="light">Dept of Botany (Member)</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Prof: Raveendran</div>
      <div class="light">Dept of Chemistry (Member)</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Prof: Sudhir Kumar T</div>
      <div class="light">Dept of English (Member)</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Smt. Jipsy Rani</div>
      <div class="light">Dept of Hindi (Member)</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Smt. Raji .M</div>
      <div class="light">Dept of Computer Science (Joint Coordinator)</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Smt. Nisha .E</div>
      <div class="light">Dept of Mathematics (Member)</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Smt. Harsha</div>
      <div class="light">Dept of Psychology (Member)</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr. Abdul Assis Koroth</div>
      <div class="light">Dept of Commerce (Member)</div>
    </div>

    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Sri. Jayarajan B.C</div>
      <div class="light">Office Supdt. (Member)</div>
    </div>
  </div>
</div>

{% endblock %}
