{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">IQAC (Internal Quality Assurance Cell)</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
        <div class="c">Dr. Aravindan Tharemmal (Zoology Coordinator)</div>
      </div>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
        <div class="c">Prof: M.P Narayanan (Physics Member)</div>
      </div>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
        <div class="c">Dr. K. Venugopalan (Commerce Member)</div>
      </div>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
        <div class="c">Prof: Abdul Majeed (Botany Member)</div>
      </div>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
        <div class="c">Prof: Raveendran (Chemistry Member)</div>
      </div>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
        <div class="c">Prof: Sudhir Kumar T (English Member)</div>
      </div>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
        <div class="c">Smt. Jipsy Rani (Hindi Member)</div>
      </div>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
        <div class="c">Smt. Raji .M (Computer Science Joint Coordinator)</div>
      </div>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
        <div class="c">Smt. Nisha .E (Mathematics Member)</div>
      </div>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
        <div class="c">Smt. Harsha (Psychology Member)</div>
      </div>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
        <div class="c">Dr. Abdul Assis Koroth (Commerce Member)</div>
      </div>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
        <div class="c">Sri. Jayarajan B.C (Office Supdt. Member )</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
