{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">MESSAGE FROM THE MANAGER</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container flex-just-start list1">
      <div class="det">
        <img class="img-pot" src="{% static 'assets/img1.png' %}" />
        <div class="des">Manager</div>
        <div class="nam">Sri.P.M. Raveendran</div>
        <div class="qual">
          President, SNDP Union Devolopment And Welfare Society Vatakara
        </div>
      </div>
      <div class="flex-just-c-sb">
        <div>
          SNDP Yogam is the biggest social organization in kerala. As a part of
          their social service, the Yogam is running agood number of aided and
          unaided colleges, Higher Secondary Schools,High Schools, UP and LP
          Schools,In order to provide higher education facilities to the weaker
          sections of the society, the Union started an Arts and ScienceCollege
          named after the Jagat Guru Sri Narayana as Sree Narayana College,
          Vatakara. The College was started in 2003 with two UG Courses. Slowly
          but steadily we have developed this college to a first grade college
          with 14 UG and 5 PG Courses. Now it is Placed as the biggest and the
          best unaided college in and around Vatakara. I hope that this
          institution progresses further to a Centre of Academic Excellence
          within a few years. We have a plan named ‘Vision 2024’ for the allroun
          development of the institution. The Management is fully committed to
          achive this goal.
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
