{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">All News</div>
</div>

<div class="container">
  <div class="sec-container grid">
    {% for article in newses %}
    <a href="#" class="news-box">
      <div class="imgcon">
        {% for image in article.images.all %}
        <img
          src="{{ image.image.url }}"
          alt="{{ article.title }}"
          width="100"
        />
        {% endfor %}
      </div>
      <div class="text">{{ article.title }}</div>
      <div class="date-box">
        {{ article.date|date:"D" }}, {{ article.date }}
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}
