{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">News & Updates</div>
</div>
<div class="container pad-top pad-bottom flex-align-start">
  <div class="part pad-right">
    <img src="{{ news.image.url }}" alt="{{ news.title }}" class="img-big" />

    <div class="date-box">{{ news.date }}</div>
    <div class="bold-head">{{ news.title }}</div>
    <pre class="article">{{ news.description }}</pre>
  </div>
  <div class="part">
    <div class="heading">Recent News & Updates</div>
    <div class="event-group ev">
      {% for article in newses %}
      <a href="{% url 'news' article.id %}" class="news-box w-600">
        <div class="text">{{ article.title }}</div>
        <div class="date-box">Sat, {{ article.date }}</div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
