{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">Notifications</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container column-flex">
      <div class="bold-head">{{ notification.title }}</div>
      <div class="article">{{ notification.description }}</div>
      {% if notification.file%}
      <a href="{{ notification.file.url }}" class="btn fill" download>
        <img src="{% static 'assets/download_white.svg' %}" alt="" />

        <div class="btn-add">Download file</div></a
      >
      {% else %}
      <div class="btn-add">N/A{% endif %}</div>

      {% comment %} {% if notification.file %}<a
        href="{{ notification.file.url }}"
        class="btn-add"
        target="_blank"
        >View File</a
      >{% else %}N/A{% endif %} {% endcomment %}
    </div>
  </div>
</div>

{% endblock %}
