{% extends "admin_header.html" %} {% block content %} {% load static %}
<div class="admin-container">
  <div class="admin-title">
    <h2>Notifications List</h2>
    <a class="btn-add btn" href="{% url 'create_notification' %}"
      ><img src="{% static 'assets/new.svg' %}" class="img-small" alt="" />New
    </a>
  </div>
  <div class="table-con">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Category</th>
          <th>Title</th>
          <th>Description</th>
          <th>File</th>
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for notification in notifications %}
        <tr>
          <td>{{ notification.id }}</td>
          <td>{{ notification.category }}</td>
          <td>{{ notification.title }}</td>
          <td>{{ notification.description }}</td>
          <td>
            {% if notification.file %}<a
              href="{{ notification.file.url }}"
              class="btn-add btn"
              target="_blank"
              >View File</a
            >{% else %}N/A{% endif %}
          </td>

          <td>
            <a
              class="btn-edit btn"
              href="{% url 'update_notification' notification.id %}"
              >Edit</a
            >
            <a
              class="btn-delete btn"
              href="{% url 'delete_notification' notification.id %}"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
