{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">Notifications</div>
</div>

<div class="container">
  <div class="sec-container">
    {% for notification in notifications %}
    <a
      href="{% url 'notification2' notification.id %}"
      class="small-container flex-just-start list"
    >
      <img class="img-small" src="{% static 'assets/bell.svg' %}" alt="" />

      {{ notification.title }}</a
    >

    {% endfor %}
  </div>
</div>

{% endblock %}
