{% extends "admin_header.html" %} {% block content %} {% load static %}
    <h2>Notifications List</h2>
    <a class="btn-add" href="{% url 'create_notification' %}"
      >New </a>

    <table class="employee-table">
        <tr>
          <th>ID</th>
          <th>Category</th>
          <th>Title</th>
          <th>Description</th>
          <th>File</th>
          <th class="actions">Actions</th>
        </tr>
        {% for notification in notifications %}
        <tr>
          <td>{{ notification.id }}</td>
          <td>{{ notification.category }}</td>
          <td>{{ notification.title }}</td>
          <td>{{ notification.description }}</td>
          <td>
            {% if notification.file %}<a
              href="{{ notification.file.url }}" class="btn-add"
              target="_blank"
              >View File</a
            >{% else %}N/A{% endif %}
          </td>
          
          <td>
            <a class="btn-edit" href="{% url 'update_notification' notification.id %}"
              >Edit</a
            >
            <a class="btn-delete" href="{% url 'delete_notification' notification.id %}"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endblock %}
