<!DOCTYPE html>
{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">Placement And Carrier Cell</div>
</div>

<div class="container">
  <div class="sec-container column-flex">
    <div class="flex gap full flex-c">
      <div class="small-container flex-just-start flex-c">
        <div class="head">Dr.Lalitha Devi ( Commerce)</div>
        <div class="light">CO-ORDINATOR</div>
      </div>
      <div class="small-container basis flex">
        <img src="{% static 'assets/phone.svg'%}" class="img-small" alt="" />
        <div class="head center">+91 94866 15945</div>
      </div>
    </div>
    <div class="flex gap full flex-c">
      <div class="small-container flex-just-start flex-c">
        <div class="head">Sri: Amal Benny ( Computer Science )</div>
        <div class="light">ASST. CO-ORDINATOR</div>
      </div>
      <div class="small-container basis flex">
        <img src="{% static 'assets/phone.svg'%}" class="img-small" alt="" />
        <div class="head center">+91 79071 95665</div>
      </div>
    </div>
    <div class="flex gap full flex-c">
      <div class="small-container flex-just-start flex-c">
        <div class="head">Rejina P.P ( Commerce)</div>
        <div class="light">MEMBER</div>
      </div>

      <div class="small-container basis flex">
        <img src="{% static 'assets/phone.svg'%}" class="img-small" alt="" />
        <div class="head center">+91 90729 17143</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
