<!DOCTYPE html>
{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">Placement and Career Guidance</div>
</div>

<div class="container">
  <div class="sec-container column-flex">
    <div class="small-container">
      <div class="medium-head">Placement and Career Guidance</div>
    </div>
    <div class="flex gap full">
      <div class="small-container flex-just-start">
        <div class="head">VIGNESH KUMAR</div>
        <div class="light">STAFF CO-ORDINATOR</div>
      </div>
      <div class="small-container basis flex">
        <img src="assets/phone.svg" class="img-small" alt="" />
        <div class="head center">+91 8505 234 456</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
