{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">MESSAGE FROM THE MANAGER</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container flex-just-start list1">
      <div class="det">
        <img class="img-pot" src="{% static 'assets/img2.png' %}" />
        <div class="des">Principal</div>
        <div class="nam">Dr. M.K.RADHAKRISHNAN</div>
        <div class="qual">PhD, MBA</div>
      </div>
        <div class="flex-just-c-sb">
          <pre>
Sree Narayana College, Vatakara was established in 2003 and within this short span of time has placed itself at the very top among the self financing colleges affiliated to the University of Calicut. Located on asunny hilltop, in a verdant surrounding, Sree Naryana College with its will laid out buildings, presents a picture of scenic beauty, refreshing to the sight and mind. 
        
        The college is administered by SNDP Union Development and Welfare Society. It offers a total of 14 UG courses and 5 PG courses in Arts,Science, Psychology,Commerce and Management Studies. Though we began humbly, the college has seen steady expansion in this period. We have rendered yeoman service in the academic field of vatakara.
        
      Inspired by the values of Sree Narayana Guru, the institution relentlessly strives to provide aspiring youth with opportunities to excel in life through developing academic and related skills. We have a vibrant NSS unit and students are given ample avenues to exhibit their co-curricular skills, their sporting and athletic prowess. Fine Arts, Leadership Training Programmes  and placement cell are all hallmarks of this institution.
        
        The environment of the college ensures the holistic development of the students, making them intellectually, physically and spiritually balanced humanbeings and fine citizens. As our aim is to inculcate the love of knowledge in our students we can boast of high academic achievements over the years. Even during the difficult time of Covid19, we resume our academic process through electronic media. I wish the institution will prosper in all dimension in order to cater the academic needs of the community in and around Vatakara, fostering the slogan of great saint Sree Narayana Guru “Enlighten through education”
            
        </pre
          >
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
