{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">Scholarship</div>
</div>

<div class="container">
  <div class="sec-container column-flex">
    <div class="small-container">
      <div class="bold-head">National scholarship Portal(NSP)</div>
    </div>
    <div class="flex gap full flex-c">
      <div class="small-container flex-just-start phcon">
        <div class="photoCon">
          <img src="{% static 'assets/nspco.jpg'%}" class="img-club" alt="" />
        </div>
      </div>
      <div class="small-container flex-just-start">
        <div class="head">KAVYA VENU K</div>
        <div class="light">ASSISTANT PROFESSOR (Dept of Computer Science)</div>
      </div>
      <a
        href="tel:+918921160554"
        class="small-container basis flex"
        style="text-decoration: none; color: black"
      >
        <img src="{% static 'assets/phone.svg' %}" class="img-small" alt="" />
        <div class="head center">+91 8921 160 554</div>
      </a>
    </div>
  </div>
  <div class="sec-container column-flex">
    <div class="small-container">
      <div class="bold-head">E-Grants scholarship</div>
    </div>
    <div class="flex gap full flex-c">
      <div class="small-container flex-just-start phcon">
        <div class="photoCon">
          <img src="{% static 'assets/egrands.jpg'%}" class="img-club" alt="" />
        </div>
      </div>
      <div class="small-container flex-just-start">
        <div class="head">ARJUN T</div>
        <div class="light">ASSISTANT PROFESSOR (Dept of Computer Science)</div>
      </div>
      <a
        href="tel:+919744367742"
        class="small-container basis flex"
        style="text-decoration: none; color: black"
      >
        <img src="{% static 'assets/phone.svg' %}" class="img-small" alt="" />
        <div class="head center">+91 9744 367 742</div>
      </a>
    </div>
  </div>
  {% comment %}
  <div class="sec-container column-flex">
    <div class="small-container">
      <div class="bold-head">E-grantz 3.0</div>
    </div>
    <div class="flex gap full">
      <div class="small-container flex-just-start">
        <div class="head">VIGNESH KUMAR</div>
        <div class="light">ASSISTANT PROFESSOR</div>
      </div>
      <div class="small-container basis flex">
        <img src="{% static 'assets/phone.svg' %}" class="img-small" alt="" />
        <div class="head center">+91 8505 234 456</div>
      </div>
    </div>
  </div>
  {% endcomment %}
</div>

{% endblock %}
