{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">Staff Council</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr. M K Radhakrishnan</div>
      <div class="light">Principal</div>
    </div>

    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Prof. Narayanan M P</div>
      <div class="light">HoD, Dept of Physics</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Prof. Sudheer Kumar T</div>
      <div class="light">HoD, Dept of English</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Prof. P T Jose</div>
      <div class="light">Hod, Dept of Botany</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr. Aravindan Tharemmal</div>
      <div class="light">HoD, Dept of Zoology</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Prof. Sathian M V</div>
      <div class="light">HoD, Dept of Mathematics</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Smt. Raji M</div>
      <div class="light">HoD, Dept of Computer Science</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Smt. Teena N</div>
      <div class="light">HoD, Dept of Statistics</div>
    </div>

    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Smt. Harsha</div>
      <div class="light">Hod, Dept of Psychology</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Sri. Athul V</div>
      <div class="light">HoD, Dept of Commerce & Management</div>
    </div>

    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Smt. Roja P</div>
      <div class="light">HoD, Dept of Chemistry</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Smt. Libina</div>
      <div class="light">HoD, Dept of Malayalam</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Smt. Jipsi Rani</div>
      <div class="light">HoD, Dept of Hindi</div>
    </div>

    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">. Dr. Lalitha Devi</div>
      <div class="light">Staff Representative</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr. Pradeep Kumar</div>
      <div class="light">Staff Representative</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Sri. Jayarajan B C</div>
      <div class="light">Office Supdt</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Smt. Shibina N</div>
      <div class="light">Librarian</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Sri. Amith M A</div>
      <div class="light">NSS Programme Officer</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Sri. Abdul Majeed T H</div>
      <div class="light">HoD, Dept of Physical Education</div>
    </div>
  </div>
</div>

{% endblock %}
